.carousel {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 50vh;
  background-size: cover;
}

.carousel-caption {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  color: black;
}
