.register-container {
  display: flex;
  justify-content: space-around;
  margin: 5em 0;
}

@media (max-width: 600px) {
  .register-container {
    display: flex;
    flex-direction: column;
  }
}

.register-img {
  width: 45%;
  background-image: url('https://github.com/tessa-woodard/urban-roots/blob/main/src/Components/img/register.jpg?raw=true');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-title {
  font-size: 5rem;
  justify-content: center;
  line-height: 0.8em;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1.1px;
  margin-top: 0;
}

.flowers {
  color: olivedrab;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 0.5em;
  margin-bottom: 40;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1.1px;
  margin-top: 0;
}

.form-group {
  line-height: 3rem;
  padding-bottom: 2rem;
}
