.forgot-container {
  display: flex;
  justify-content: space-around;
  margin: 9em 0;
}

@media (max-width: 600px) {
  .forgot-container {
    display: flex;
    flex-direction: column;
  }
}

.forgot-img {
  width: 40%;
  background-image: url('https://github.com/tessa-woodard/urban-roots-revised/blob/main/src/assets/reset-password.jpg?raw=true');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forgot-title {
  font-size: 5rem;
  justify-content: center;
  line-height: 0.8em;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1.1px;
  margin-bottom: 5rem;
}

.flowers {
  color: olivedrab;
  font-size: 2rem;
  justify-content: center;
  line-height: 0.5em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1.1px;
}

.form-group {
  line-height: 2rem;
  padding-bottom: 4rem;
}
