.profile-container {
  display: flex;
  justify-content: space-around;
  margin: 5em 0;
}

.profile-title {
  font-size: 5rem;
  justify-content: center;
  line-height: 0.8em;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1.1px;
  margin-top: 0;
}

.form-group {
  line-height: 2rem;
  padding-bottom: 2rem;
}

.profile-img {
  width: 40%;
  background-image: url('https://images.pexels.com/photos/4505447/pexels-photo-4505447.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
